body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

footer {
  margin: auto auto 0 auto;
}

.container {
	display: flex;
  flex-direction: column;
	margin: 10px;
	max-width: 100%;
	height: 115px;
	line-height: 115px;
	text-align: center;
	top: 50%;
	left: 50%;
}

#main {
	display: block;
}

.welcome {
	color: red;
}

#cookiepicture {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#cookiepicture:hover {
	cursor: pointer;
}

#instructions{
	font-size: 24pt;
	max-width: 100%;
}

#newContent {
	display: flex;
	flex-direction: row; 
}

#leftcookie {
	height: 400px;
}

#fortuneMessage {
	padding-top: 40px;
	height: 30px;
	width: 500px;
	font-size: 12pt;
}

#rightcookie{
	height: 400px;
}

.footer {

	position: absolute;
    bottom: 30px;
    width: 100%;
}

img {
	/* border: 1px solid red; */
	max-width: 100%;
	height: auto;
}
