.welcome {
	border: 1px solid blue ;
	color: blue;
}

.container {
	margin: 10px;
	width: 115px;
	height: 115px;
	line-height: 115px;
	text-align: center;
	border: 1px solid red;
}

.cookiepicture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
    height: 50px;
}